/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para las secciones */
main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 1.5rem;
}

section p {
    line-height: 1.6;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section img {
        margin-top: 10px;
    }
}

.hidden {
    display: none;
}
